<!-- chat_detail.html -->
{% extends "app_base/base.html" %}
{% load static %}
{% block links %}
    <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock %}
{% block content %}
<div class="chat-container">
    <div class="messages">
        {% for message in messages %}
            <div class="message {% if message.sender == request.user %}me{% else %}other{% endif %}">
                <strong>{{ message.sender.username }}:</strong> {{ message.message }}
            </div>
        {% endfor %}
    </div>
    <form id="chat-form" method="post">
        {% csrf_token %}
        <input type="text" name="message" id="message-input" placeholder="Type a message">
        <button type="submit">Send</button>
    </form>
</div>
<script>
    var user = "{{ request.user.username }}"; // додано цю строку
</script>

{% endblock %}