{% extends "app_base/base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'all_users/css/style.css' %}">
{% endblock %}
{% block content %}
<h2>Welcome to all_users</h2>
<div class="container">
    {% for user in users %}
        <div class="card-user">
            <h3>{{user.first_name}}</h3>
            <h4>{{user.last_name}}</h4>
            <h5>{{user.username}}</h5>
            <a href="#"><button>написати</button></a>
        </div>
    {% endfor %}
</div>
{% endblock %}