{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'groups/css/group_chat.css' %}">
    <link rel="stylesheet" href="{% static 'groups/css/modal_add_users.css' %}">
    <script src="{% static 'groups/js/group.js' %}" defer></script>
    <script src="{% static 'groups/js/modal_add_users.js' %}" defer></script> 
{% endblock %}
<div class="group-chat-container">
    <div class="name-and-add">
        <div class="name-group">
            <a href="{% url 'groups' %}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M260-260v-440h40v440h-40Zm420-7.69L467.69-480 680-692.31 708.31-664l-184 184 184 184L680-267.69Z"/></svg>
            </a>
            <h1 id="group-name">{{ group.name }}</h1>
        </div>
        <div>

            {% if request.user == group.admin %}
                <a class="btn-add-user" href="#" id="add_users">Додати користувачів</a>
            {% endif %}
        </div>
    </div>
    
    <div id="user-name" style="display:none;">{{ request.user.username }}</div>
    <div id="group-id" style="display:none;">{{ group.id }}</div>
    <div class="messages">
        {% for message in messages %}
            <div class="message {% if message.sender == request.user %}me{% else %}other{% endif %}">
                <div class="message-content">
                    <strong class="message-username"><span>@</span>{{ message.sender.username }}</strong>
                    <span class="message-text">{{ message.message }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <form id="chat-form" method="post">
        {% csrf_token %}
        <input type="text" name="message" id="message-input" placeholder="Введіть повідомлення">
        <button class="btn-send" type="submit" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" style="background-color: transparent;" fill="#e8eaed"><path d="m297.85-259.08-26.47-26.46L480-494.15l208.62 208.61-26.47 26.46L480-441.5 297.85-259.08Zm0-230.77-26.47-26.46L480-724.92l208.62 208.61-26.47 26.46L480-672.27 297.85-489.85Z"/></svg>
        </button>
    </form>
</div>

<!-- Модальні вікна -->
<div id='popup-bg'></div>
    
<div id="modal_1">
    <a href="#" id="close-modal_1">✖</a>
    <h2>Додати користувачів</h2>
    <div class="container-cards">
        {% for user in users %}
        <div class="card-user">
            <div class="info1">
                <h3>{{ user.first_name }} <br>{{ user.last_name }}</h3>
                <p>@{{ user.username }}</p>
                <button class="add-user-button" data-user-id="{{ user.id }}">додати</button>
            </div>      
        </div>
    {% endfor %}
    </div>
    
    <!-- <button style="width: 100%;" id="next_modal">далі</button> -->
</div>