::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}



.content_groups{
    display: flex;
}

.svg{
    border-radius: 90px;
    padding: 3px;
    border: 1px outset white;
}
.svg:hover{
    transition: all ease-in-out 0.3s;
    background-color: rgb(63, 63, 63);
    fill: rgb(255, 255, 255);
}

#chat-form{
    display: flex;
    flex-direction: row;

}

.content_search{
    display: flex;
    flex-direction: row;
    height: 90%;
    min-height: 80%;
    gap: 5px;
}

.group-container{
    display: flex;
    height: 95vh;
    border-radius:40px;
    padding: 0 40px;
    display:flex;
    flex-direction:column;
    gap: 10px;
    position: relative;
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.030));
    backdrop-filter: blur(10px);
    color: white;
    overflow: hidden;
    
}

.group-title{
    margin: 0;
    padding-top: 40px;
}

.groups{
    width: 50%;
    text-align: center;
    padding-top: -5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 60px;
}

.groups h2{
    margin: 10px;
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-top: -5px;
    width: 180px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.all-groups{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto; /* Додає вертикальну прокрутку */
    max-height: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.group-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 10px;
}

.in-group{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.030));
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
}

.in-group:hover{
    background-color: #2BBEF2;
    transition: all ease-in-out 0.3s;
}

.in-group:not(:hover){
    transition: all ease-in-out 0.3s;
}

.delete{
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

#delete{
    height: 20px;
}

.delete:hover{
    border: 1px outset rgb(241, 72, 72);
    transition: ease-in-out 0.3s;
    svg{
        fill: rgb(241, 72, 72);
        transition: ease-in-out 0.3s;
    }
}

.delete:not(:hover){
    transition: ease-in-out 0.3s;
    svg{
        transition: ease-in-out 0.3s;
    }
}

.exit{
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}

#exit{
    height: 20px;
    transform: rotate(180deg);
}

.exit:hover{
    border: 1px outset rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    svg{
        fill: rgb(0, 0, 0);
        transition: ease-in-out 0.3s;
    }
    cursor: pointer;
}

.exit:not(:hover){
    transition: ease-in-out 0.3s;
    svg{
        transition: ease-in-out 0.3s;
    }
}

.info1{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}
h3, h4, h5{
    margin: 5px;
    
}
.image{
    position: relative;
    width: 90%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px outset rgb(126, 8, 180);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.btn-create{
    position: relative;
    border-radius:15px;
    width: 140px;
    height: 100%;
    color: white;
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.btn-create:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      #ffffff,
      transparent
    );

    transition: all 650ms;
}

.btn-create:hover:before {
    left: 100%;
  }


.btn-create:hover{
    background-color: #2BBEF2;
    transition: ease-in-out 550ms;
}

.btn-create:not(:hover){
    transition: ease-in-out 550ms;
}


.search{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
    width: 100%;
}

.form-search{
    display: flex;
    gap: 5px;
    width: 50%;
    flex-direction: row;
}

#search-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    width: auto;
    cursor: pointer;
}

.input-con{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
    width: 100%;
}

.search .input{
    border-radius:15px;
    color: white;
    padding: 8px;
    text-align: left;
    border: 1px outset rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.205);
    background: transparent;
    width: 100%
}

@media (max-width: 767px) {
    .group-container {
        padding: 10px;
        height: 100%;
    }

    .form-search {
        width: 100%;
        padding-bottom: 0;
    }

    .content_search {
        flex-direction: column;
        padding-bottom: 0;
        height: 100%; /* Забезпечує, що контент займає всю доступну висоту */
    }

    .groups {
        width: 100%;
        max-height: 36%; /* Зменшена висота контейнера */
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 0;
    }

    .all-groups {
        flex-grow: 1; /* Забезпечує, що список займає доступну висоту */
        max-height: 100%;
        overflow-y: auto; /* Додаємо вертикальну прокрутку */
        padding: 0;
    }


    .group {
        width: 100%;
        padding: 10px;
    }

    .input-con{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .btn-create{
        height: 30px;
    }
}
